<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0"
>
	<display-name>Ka Web Socket Spring Example</display-name>

	<distributable/>

    <!-- Spring 3 Configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/application-context.xml</param-value>
    </context-param>

	<listener>
		<listener-class>org.kasource.web.websocket.channel.WebSocketChannelFactoryImpl</listener-class>
	</listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    
    <servlet>
        <servlet-name>chatServer</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>chatServer</servlet-name>
        <url-pattern>/chatServer/*</url-pattern>
    </servlet-mapping>

  
 
 
  <servlet>
    <servlet-name>chat</servlet-name>
    <!-- <servlet-class>org.kasource.web.websocket.impl.jetty.JettyWebSocketImpl</servlet-class> -->
    <servlet-class>org.kasource.web.websocket.impl.tomcat.TomcatWebsocketImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
    	<param-name>dynamicAddressing</param-name>
    	<param-value>true</param-value>
    </init-param>
    <init-param>
    	<param-name>text.default.protocolHandler</param-name>
    	<param-value>org.kasource.web.websocket.protocol.XmlProtocolHandler</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/chat/*</url-pattern>
  </servlet-mapping>

    
</web-app>
